<div class="jumbotron mt-4 text-dark">
    <h1 class="display-4">Bienvenido a la nueva App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem. Deleniti, aperiam consequuntur? Tempore minima rerum repellendus, sunt qui, enim eligendi maxime non quasi, facilis rem alias molestiae sequi error?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptates nemo labore adipisci quibusdam, ex consequuntur possimus tempore at doloribus, maiores quos expedita nostrum sed esse ad voluptate illum facilis?
    Maxime debitis assumenda officiis exercitationem voluptatum explicabo nobis labore reiciendis distinctio facilis nam perferendis error dolorum, accusantium aperiam quibusdam natus laudantium at ad harum fugit autem incidunt cum. Obcaecati, ducimus?
    Iusto dignissimos incidunt, eligendi consequuntur reiciendis velit qui possimus. Ducimus vitae minus nobis suscipit, facere esse magnam! Veniam est officiis possimus mollitia alias, voluptate iste maxime error tempore quaerat velit.</p>
</div>