/* ------------------- */
/* Estilos del header  */
/* ------------------- */
html, body
{
    min-height: 100vh !important;
}

.bg-dark-blue{ background-color: #1a3653 !important;}

.navbar-dark .navbar-nav .nav-link
{
    color: white;
    transition: border-color .3s;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px; 
}

.navbar-dark .navbar-nav .nav-link:hover, .nav-link:focus
{
    border-color: white;
    color: white;
}

/* ------------------- */
/*        body         */
/* ------------------- */
body
{
    background-color: #11a3bd;
}