<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-5">
    <div class="card text-light bg-color-5">
        <div class="text-right pt-2 pr-2">
            <a class="custom-icon color-4" href="/notes/edit/{{id}}">
                <div data-icon="ei-pencil" data-size="m"></div>
            </a>
            <a class="custom-icon color-4" href="">
                <div  data-icon="ei-close" data-size="m"></div>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <p>{{description}}</p>
        </div>
    </div>
</div>